$blue-light: #e8eaf6;
$blue-1: #9fa8da;
$blue-2: #3f51b5;
$blue-3: #3d5afe;
$blue-dark: #1a237e;
$box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
$radius: 4px;
$picHolderWidth: 100px;

#songapp {
  //border: 2px solid;
  //background-color: $blue-light
}

.page-content{
  margin-top: 65px;
  border: 2px dashed blue;
}
.spinner-holder {
  width: 100%;
  text-align: center;
}

.spinner {
  margin: 0 auto;
}

.mdl-layout-title{
  margin-left: -62px;
}
.search-cont{
  color: #e8eaf6;
  //background-color: $blue-2;
  //
  //border-radius: $radius;
}
.white-text{
  color: #e8eaf6;
}
.border{
  border: 2px solid red;
}

.search-box {
 width: calc(100% - 30px);
  input {
    left: 20px;
  }
  i {
    left: 0px;
  }
}


.remove-min-height{
  min-height: 10px !important;
}

.switch-box {
  min-height: 10px !important;
  //border: 2px dashed blue;
  //h5{
  //  margin-top: 6px;
  //  text-align: center;
  //  font-size: 17px;
  //}
  //label{
  //  border: 2px dashed;
  //}
}

.resize{
  margin-left: 12px;
  //border: 1px solid red;
}

.btn-box{
  //border: 2px solid blue;
}

.filter-btns {
  //border: 2px solid green;
}
.filter-btn{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-toggledOn {

  background-color: rgb(63, 81, 181) !important;
  //background-color: #00BF7E !important;
}

.main {
  max-width: 900px;
  margin: 0 auto;
  border: 2px solid;
}

.songs{
  //max-height: 450px;
  //border: 2px dashed purple;
}

.song-list {
  //border: 2px solid red;
  height: 650px;
  overflow: scroll;
  //border: 2px solid;
  position: absolute;

}

.ellipsis{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.song {
  width: auto;
  //border: 1px solid black;
  min-height: 91px !important;
}
.contrib {
  padding: 10px 0px 0px 10px !important;
}

.song .song-text {
  text-align: left;
  width: calc(100% - 70px);
  //border: 2px solid red;
  margin-left: 10px;
  margin-bottom: -14px;
  font-size: medium;
}

.song-card {
}

.song-expand-cont{
  //border: 2px dashed;
  display: none;
}
.img-holder {
  //border: 2px solid blue;
  padding: 10px;
  float: left;
  width: 150px
}
.info-right-side {
  //border: 2px solid purple;
  float: left;
  width: calc(100% - 200px);
  margin-left: 10px;
}
.summary{
  max-height: 100px;
  //border: 2px dashed orange;
  //todo: why cant a guy have scrollception?
  overflow: hidden !important;
}

.song-card img {
  padding: 10px;
  float: right;
}

#controls{
  padding: 0px !important;
}
.controls{
  padding: 0px !important;
}


* {
  margin: 0;
}
html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -50px;
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 50px;
}


.bottom{
  position: absolute;
  z-index: 1;
  bottom: 0;
  width: 100%;
  //height: 22px;
  padding: 10px 10px 25px 10px !important;
}

.card-image {
  width:125px;
  height:125px;
  //border:2px solid blue;
  alt:""

  /*width: 256px;*/
  /*height: 256px;*/
  /*background: url('https://d3rt1990lpmkn.cloudfront.net/cover/17576d8352989483a3067003e929ca400a74d3e6') center / cover;*/
}

.demo-card-image > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.2);
}

.demo-card-image__filename {
  color: #fff;
}

@font-face {
  font-family: "And Black";
  src: url("myfont-webfont.eot?#iefix") format('embedded-opentype'),
  url("fonts/and_black.woff") format('woff'),
  url("fonts/and_black.ttf") format('truetype');
}

body {
  margin: 0;
}

//util classes
.capitalize{
  text-transform: capitalize;
}