<form action="#" class="mdl-cell mdl-cell--4-col" style="border: 2px solid red;">
    <div>
        <i class="material-icons">search</i>

        <div class="mdl-textfield mdl-js-textfield search-box">
            <input class="mdl-textfield__input  search-field" type="text" id="search"/>
            <label class="mdl-textfield__label" for="search">Search Here
            </label>
        </div>
    </div>

</form>

<div class="mdl-cell mdl-cell--8-col mdl-grid switch-box">
    <h5 class=" mdl-cell mdl-cell--12-col">Filters</h5>


    <!--<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect mdl-cell mdl-cell&#45;&#45;3-col" for="cc">-->
        <!--<input type="checkbox" id="cc" class="mdl-switch__input"/>-->

        <!--<div class='resize'>-->
            <!--<span class="">Top Tags</span>-->
        <!--</div>-->
    <!--</label>-->
    <!--<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect mdl-cell mdl-cell&#45;&#45;3-col " for="genre">-->
        <!--<input type="checkbox" id="genre" class="mdl-switch__input"/>-->

        <!--<div class='resize'>-->
            <!--<span class="">Genre</span>-->
        <!--</div>-->
    <!--</label>-->
    <!--<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect mdl-cell mdl-cell&#45;&#45;3-col" for="aa">-->
        <!--<input type="checkbox" id="aa" class="mdl-switch__input"/>-->

        <!--<div class='resize'>-->
            <!--<span class="">Contributors</span>-->
        <!--</div>-->

    <!--</label>-->
    <!--<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect mdl-cell mdl-cell&#45;&#45;3-col" for="bb">-->
        <!--<input type="checkbox" id="bb" class="mdl-switch__input"/>-->

        <!--<div class='resize'>-->
            <!--<span class="">Service</span>-->
        <!--</div>-->
    <!--</label>-->
</div>

<div class="mdl-cell mdl-cell--12-col mdl-grid filter-btns" id="genre-btns">
    <button class="mdl-cell mdl-cell--3-col mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        Button
    </button>
    <button class="mdl-cell mdl-cell--3-col mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        Button
    </button>
    <button class="mdl-cell mdl-cell--3-col mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        Button
    </button>
    <button class="mdl-cell mdl-cell--3-col mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        Button
    </button>
</div>

<script type="text/template" id="filter_btn_row_template">
    <div class="mdl-cell mdl-cell--12-col mdl-grid filter-btns">
    </div>
</script>

<script type="text/template" id="filter_btn_template">
    <button class="mdl-cell mdl-cell--3-col mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        Button
    </button>
</script>


