<section id="main">

    <header id="searchHeader" style="border: 2px dashed;" class="mdl-grid">
        <form action="#" class="mdl-cell mdl-cell--4-col" style="border: 2px solid red;">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable textfield-demo">
                <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
                    <i class="material-icons">search</i>
                </label>
                <input class="mdl-textfield__input search-field" type="text" id="search"/>
            </div>
        </form>
        <div class="mdl-cell mdl-cell--8-col switch-box" style="border: 2px solid red;">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                Button
            </button>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                Button
            </button>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                Button
            </button>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                Button
            </button>
        </div>
    </header>


    <div class="mdl-grid ">
        <div class="mdl-cell mdl-cell--6-col song-list mdl-shadow--2dp"></div>
        <div class="card-holder  mdl-cell mdl-cell--6-col "></div>
    </div>

</section>