<div id="headerCont" class="mdl-grid headerCont"></div>

<div class="mainCont">
    <div class="mdl-grid">
        <div class="mdl-layout__content">
            <div class="top-controls">

                <div class="mdl-cell mdl-cell--12-col mdl-grid switch-box mdl-card mdl-shadow--4dp"></div>

                <!--for the expandable buttons-->
                <div class="btn-box">
                </div>

            </div>
        </div>
    </div>


    <div class="mdl-cell mdl-cell--12-col song-list mdl-shadow--2dp"></div>

</div>

<script type="text/template" id="filter_btn_row_template">
    <div class="mdl-cell mdl-cell--12-col mdl-grid filter-btns mdl-card mdl-shadow--4dp">
    </div>
</script>

