<section id="main">

    <header id="searchHeader" style="border: 2px dashed;">
    <form action="#">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable textfield-demo">
            <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
                <i class="material-icons">search</i>
            </label>
            <input class="mdl-textfield__input search-field" type="text" id="search" />
        </div>
    </form>
    </header>


    <div class="mdl-grid ">
        <div class="mdl-cell mdl-cell--6-col song-list mdl-shadow--2dp"></div>
        <div class="card-holder  mdl-cell mdl-cell--6-col "></div>
    </div>

</section>