<script type="text/template" id="switch_template">

    <div class="mdl-cell mdl-cell--8-col mdl-grid switch-box">
        <h5 class=" mdl-cell mdl-cell--12-col">Filters</h5>
        <% _.each(switches, function(d) { %>
        <p><%= d %></p>
        <% }); %>

        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect mdl-cell mdl-cell--3-col" for="<%= title %>">
            <input type="checkbox" id='<%= title %>' class="mdl-switch__input"/>

            <div class='resize'>
                <span class=""><%= title %></span>
            </div>
        </label>
    </div>

</script>